body {
    /*   background-color:beige; */
    font-family: Monospace;
    margin: 0;
    scroll-behavior: smooth;
    padding: 0;
    width: 100%;
    height: 100%;
}

ul {
    align-items: center;
    display: flex;
    list-style-type: none;
    width: 100%;
    gap: 3rem;
    justify-content: center;
    font-size: 2rem;
    position: fixed;
    top: 0;
    margin: 0;
    padding: 1rem;

}

li {
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: inherit;
}

li.active {
    font-weight: bold;
    color: orangered;
}

.image {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    height: 600px;
    object-fit: contain;
}

div>img{
    padding: 20px 20px 20px 20px;
}
