<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get a Waifu</title>
    <link rel="stylesheet" href="../static/css/waifu.css"/>
</head>
<body>
<nav>
    <h1 class="active">Get A Waifu</h1>
    <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>
<div class="image">
    <img  src="{{ data.url }}" alt="waifu">
    <img  src="{{ data.url }}" alt="waifu">
</div>

</body>
</html>
